.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #B8F0C2;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

body {
    background-color: #272626;
    margin: 0;
    padding: 0;
}

iframe {
    position: absolute;
    padding: auto;
}

img {
    vertical-align: middle;
    margin-right: 30px;
    margin-left: 50px;
}

h1 {
    background-color: #FFFFFF;

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 40px;
    width: 100%;
    text-align: center;
    position: static;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
